DB_ENVIRONMENT="PUT_YOUR_DB_ENVIRONMENT_NAME_HERE"
RISK_API_BASE_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.dhctest.org/riskScores"
EMIS_API_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.dhctest.org/emis-transaction-api"
OS_PLACES_API_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.dhctest.org/address"
NHS_API_PLATFORM_BASE_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.dhctest.org/nhs-api-platform"

COOKIE_ACCESS_CONTROL_ALLOW_ORIGIN="https://PUT_YOUR_ENVIRONMENT_NAME_HERE.dhctest.org"
AWS_BACKEND_API_DOMAIN_NAME="PUT_YOUR_ENVIRONMENT_NAME_HERE-api.dhctest.org"
AWS_CALLBACK_API_DOMAIN_NAME="PUT_YOUR_ENVIRONMENT_NAME_HERE-callback-api.dhctest.org"
AWS_RESULTS_API_DOMAIN_NAME="PUT_YOUR_ENVIRONMENT_NAME_HERE-results-api.dhctest.org"
AWS_MTLS_RESULTS_API_DOMAIN_NAME="mtls-PUT_YOUR_ENVIRONMENT_NAME_HERE-results-api.dhctest.org"


# nhs login
NHS_LOGIN_REDIRECT_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE.dhctest.org/login-callback"
NHS_LOGIN_BASE_ENDPOINT_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.dhctest.org/nhs-login"

# lab configuration - thriva
THRIVA_AUTH_API_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.dhctest.org/lab/thriva"
THRIVA_API_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.dhctest.org/lab/thriva"

# mtls results API
MTLS_RESULTS_API_ENABLED=true