{% extends 'layout-app.html' %}

{% set pageHeading = "Check your answers before submitting your order" %}
{% set formAction = "./confirmation" %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    attributes: {
      onclick: "history.back()"
    }
  }) }}
{% endblock %}

{% block content %}

  <h1 class="nhsuk-heading-l">{{pageHeading}}</h1>

  <p>We’ll update you about your HIV test on the account you use for your NHS login.</p>

  {{ summaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          html: 'John Smith'
        }
      },
      {
        key: {
          text: "Delivery address "
        },
        value: {
          html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
        },
        actions: {
          items: [
            {
              href: "find-delivery-address",
              text: "Change",
              visuallyHiddenText: "Delivery address"
            }
          ]
        }
      },
      {
      key: {
          text: "Are you comfortable doing the HIV self-test?"
        },
        value: {
          html: 'Yes I&#39;m comfortable, send me the kit'
        },
        actions: {
          items: [
            {
              href: "select-type",
              text: "Change",
              visuallyHiddenText: "Are you comfortable doing the HIV self-test?"
            }
          ]
        }
      },
      {
      key: {
          text: "What's your mobile phone number?"
        },
        value: {
          html: '07402 123 123'
        },
        actions: {
          items: [
            {
              href: "mobile-phone",
              text: "Change",
              visuallyHiddenText: "What's your mobile phone number?"
            }
          ]
        }
      }
    ]
  }) }}

  {{ checkboxes({
    idPrefix: "example",
    name: "example",
    fieldset: {
      legend: {
        text: "Your consent",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "consent",
        html: 'I understand that [Supplier], a trusted partner of NHS, will provide the self-test kit. I agree to their <a href="terms-and-conditions">terms and conditions</a> and <a href="privacy-policy">privacy policy</a>.'
      }
    ]
  }) }}

  <form action="{{formAction | safe }}" method="{{ formMethod or 'post' }}" novalidate>
    {{ button({
        text: "Submit order"
      }) }}
  </form>

{% endblock %}
