{% extends "layout-app.html" %}
{% set pageHeading = "Page not found" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}

  <h1>{{pageHeading}}</h1>
  <p>If you typed the web address, check it is correct.</p>
  <p>If you pasted the web address, check you copied the entire address.</p>
  <!-- <p>If the web address is correct or you selected a link or button, <a href="">contact the Home Testing Helpline</a> if you need to speak to someone about home testing.</p> -->

{% endblock %}