{% extends 'layouts/form.html' %}

{% set pageHeading = "Enter your delivery address and we'll check if the kit's available" %}

{% set hideButton = true %}

{% set formAction = "select-delivery-address" %}

{% block formContent %}

  <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">{{pageHeading}}</h1>

  {{ input({
    label: {
      text: "Postcode",
      classes: "nhsuk-label--s",
      isPageHeading: true
    },
    hint: {
      html: 'For example, LS1 1AB'
    },
    id: "postcode",
    name: "postcode",
    classes: "nhsuk-input--width-full",
    inputmode: "text",
    spellcheck: false
  }) }}

  {{ input({
    label: {
      text: "Building number or name (optional)",
      classes: "nhsuk-label--s",
      isPageHeading: true
    },
    hint: {
      html: 'For example, 15 or Prospect Cottage'
    },
    id: "numName",
    name: "numName",
    classes: "nhsuk-input--width-full",
    inputmode: "text",
    spellcheck: false
  }) }}

  {{ button({
        "text": "Continue"
  }) }}

  <p class="nhsuk-body">
    <a href="./enter-address-manually">Enter address manually</a>
  </p>

{% endblock %}