{% extends 'layouts/form.html' %}

{% set pageHeading = "Mobile phone number" %}

{% set formAction = "confirm-details" %}

{% block formContent %}

  <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">What's your mobile phone number?</h1>
  <div class="nhsuk-body">We'll send you updates to this mobile phone number. </div>

  {{ input({
        label: {
          text: "UK mobile phone number",
          classes: "nhsuk-label--s",
          isPageHeading: "false"
        },
          hint: {
          text: "For example, 07771 900 900 or +44 7771 900 900"
        },
        id: "example-with-hint-text",
        name: "example-with-hint-text",
        value: ""
      }) }}

{% endblock %}
