{% extends 'layout.html' %}

{% block pageTitle %}
  Order HIV Home Test journey
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    attributes: {
      onclick: "history.back()"
    }
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      Order HIV Home Test journey
    </h1>

    {% set insetTextHtml %}
      <p>This is the master set of the screens and takes precedence over the Figma screens/flows.</p>
    {% endset %}

    <h2 class="nhsuk-heading-m">Version 1 - 08/01/2026</h2>
    <p><a href="/frame?redirect=/hiv-test/order-journey-ver1/start">Happy path prototype</a></p>

    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col" class="nhsuk-table__header">
            Reference
          </th>
          <th scope="col" class="nhsuk-table__header">
            Description
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="start">HOTE-422</a>
          </td>
          <td class="nhsuk-table__cell">
            Start page
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="step-by-step-guide">HOTE-426</a>
          </td>
          <td class="nhsuk-table__cell">
            Blood sample step-by-step guide
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="hote-terms-and-conditions">HOTE-423</a>
          </td>
          <td class="nhsuk-table__cell">
            HomeTest terms and conditions
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="hote-privacy-policy">HOTE-533</a>
          </td>
          <td class="nhsuk-table__cell">
            HomeTest privacy policy
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="find-delivery-address">HOTE-427</a>
          </td>
          <td class="nhsuk-table__cell">
            Delivery address lookup
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="select-delivery-address">HOTE-427</a>
          </td>
          <td class="nhsuk-table__cell">
            3 addresses found example
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="select-one-delivery-address">HOTE-427</a>
          </td>
          <td class="nhsuk-table__cell">
            1 address found example
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="no-address-found">HOTE-427</a>
          </td>
          <td class="nhsuk-table__cell">
            No address found example
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="enter-address-manually">HOTE-427</a>
          </td>
          <td class="nhsuk-table__cell">
            Enter address manually
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="under-18">HOTE-430</a>
          </td>
          <td class="nhsuk-table__cell">
            Under 18 end page
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="kit-unavailable">HOTE-430</a>
          </td>
          <td class="nhsuk-table__cell">
            Kit not available end page
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="how-comfortable">HOTE-426</a>
          </td>
          <td class="nhsuk-table__cell">
            How comfortable are you pricking your finger?
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="go-to-clinic">HOTE-426</a>
          </td>
          <td class="nhsuk-table__cell">
            Visit my nearest sexual health clinic
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="mobile-phone">HOTE-435</a>
          </td>
          <td class="nhsuk-table__cell">
            Enter mobile phone - number known version
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="mobile-phone-none">HOTE-435</a>
          </td>
          <td class="nhsuk-table__cell">
            Enter mobile phone - number not known version
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="confirm-details">HOTE-436</a>
          </td>
          <td class="nhsuk-table__cell">
            Check your answers
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="terms-and-conditions">HOTE-434</a>
          </td>
          <td class="nhsuk-table__cell">
            Supplier's terms and conditions
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="privacy-policy">HOTE-434</a>
          </td>
          <td class="nhsuk-table__cell">
            Supplier's privacy policy
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="progress-indicator">HOTE-436</a>
          </td>
          <td class="nhsuk-table__cell">
            Progress indicator
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="confirmation">HOTE-438</a>
          </td>
          <td class="nhsuk-table__cell">
            Order confirmed
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="error-404">HOTE-510</a>
          </td>
          <td class="nhsuk-table__cell">
            Error 404 page
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="service-unavailable-unplanned">HOTE-438</a>
          </td>
          <td class="nhsuk-table__cell">
            Service unavailable page - Not planned
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="cannot-confirm-order">HOTE-439</a>
          </td>
          <td class="nhsuk-table__cell">
            Cannot confirm order message
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="">HOTE-438</a>
          </td>
          <td class="nhsuk-table__cell">
            Blocked list message
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="https://www.figma.com/design/sdPTLX2Lzw40YeXEl8SFjm/HIV-form?node-id=1410-12876&t=ZTuSgfRucan2nxTW-1" target="_blank">Figma</a>
          </td>
          <td class="nhsuk-table__cell">
            See for flows and annotation only
          </td>
        </tr>
      </tbody>
    </table>
    <p>User error pages follow the standard NHS pattern: <a href="https://service-manual.nhs.uk/design-system/components/error-message" target="_blank">Error message</a> and <a href="https://service-manual.nhs.uk/design-system/components/error-summary" target="_blank">Error summary</a>.</p>
    <p><a href="how-comfortable-error">Error example: How comfortable are you pricking your finger?</a></p>
    <h2 class="nhsuk-heading-m">Previous versions</h2>
    <p>They will appear here</p>
    <!-- <a href="">Version x - DD/MM/YYYY</a> -->
  </div>
</div>
{% endblock %}
