REACT_APP_HOME_TESTING_ENVIRONMENT="PUT_YOUR_ENVIRONMENT_NAME_HERE"
REACT_APP_NHT_BACKEND_API_ENDPOINT="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-api.nhttest.org"

# nhs login
REACT_APP_NHS_LOGIN_REDIRECT_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE.nhttest.org/login-callback"
REACT_APP_APP_MONITOR_ID="PUT_APP_MONITOR_ID_HERE"
REACT_APP_NHS_LOGIN_BASE_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.nhttest.org/nhs-login"
REACT_APP_NHS_APP_URL="https://PUT_YOUR_ENVIRONMENT_NAME_HERE-mock-api.nhttest.org/nhs-app"