<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
            <a
              class="nhsuk-footer__list-item-link"
              href="http://nhs.uk/nhs-services/online-services/get-your-nhs-health-check-online/legal-and-cookies/terms-of-use"
              >Terms of use</a
            >
          </li>
          <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
            <a
              class="nhsuk-footer__list-item-link"
              href="http://nhs.uk/nhs-services/online-services/get-your-nhs-health-check-online/legal-and-cookies/privacy-policy"
              >Privacy policy</a
            >
          </li>
          <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
            <a
              class="nhsuk-footer__list-item-link"
              href="http://nhs.uk/nhs-services/online-services/get-your-nhs-health-check-online/help-and-support"
              >Help and support</a
            >
          </li>
          <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
            <a
              class="nhsuk-footer__list-item-link"
              href="http://nhs.uk/nhs-services/online-services/get-your-nhs-health-check-online/legal-and-cookies/accessibility-statement"
              >Accessibility statement</a
            >
          </li>
        </ul>
        <p class="nhsuk-footer__copyright">© Crown copyright</p>
      </div>
    </div>
  </div>
</footer>
