.nhsuk-header__container {
  @include mq($until: tablet) {
    border-bottom: 1px solid $color_transparent_nhsuk-white-20;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
